{% extends "layout.html" %}
{% block title %} About us {% endblock %}
{% block corps %}
<div class="container">
    <h1>The theam</h1>
    <br/>
   <div class="media container">
      <img src="../static/images/people/simon_gabay.jpg" class="align-self-start w-25 p-3" alt="Simon Gabay">
      <div class="media-body">
         <h5 class="mt-0">Dr. Simon Gabay</h5>
         <p class="text-justify">Après des études à Paris IV-Sorbonne et St Andrews, Simon Gabay part écrire sa thèse de doctorat
             en philologie latine à l'université d'Amsterdam (UvA) sur l'histoire de l'acteur au Moyen Âge.<br/>
             Pour son post-doctorat, il oriente ses recherches en philologie computationnelle dans le cadre d'un projet
             FNS sur les manuscrits de Madame de Sévigné à l'université de Neuchâtel, où il enseigne les humanités numériques.<br/>
             En 2020, il rejoint l'université de Genève auprès de la chaire de Béatrice Joyeux-Prunel comme Maître-assistant, où il dirige deux projets:
          <ul>
            <li>E-ditiones: corpus et outils pour l'étude du français classique.</li>
            <li>Katabase: base de données des manuscrits en circulation sur le marché privé.</li>
        </ul>
          Ses principaux domaines de recherche sont la philologie française moderne, l'histoire de la philologie,
          la littérature classique, le traitement automatique des langues, la reconnaissance optique de caractères.<br/>
          Ses publications accessibles gratuitement en ligne sont disponibles sur
          <a href="https://cv.archives-ouvertes.fr/simon-gabay" target="_blank">HAL</a>.<hr/></p>
      </div>
   </div>
   <div class="media container">
      <div class="media-body">
         <h5 class="mt-0">Nom prénom</h5>
         <p class="lead"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
             Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
             fringilla. Donec lacinia congue felis in faucibus.</p>
         <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
             magnis dis parturient montes, nascetur ridiculus mus.
          <hr/>
          </p>
      </div>
      <img src="../static/images/logos/unige.jpg" class="align-self-start mr-3" alt="...">
   </div>
</div>
{% endblock %}