{% extends "layout.html" %}
{% block title %} About us {% endblock %}
{% block corps %}
<div class="container">
    <h1>The team</h1>
    <br/>
   <div class="media container">
      <img src="../static/images/people/simon_gabay.jpg" class="align-self-start w-25 p-3" alt="Simon Gabay">
      <div class="media-body">
         <h5 class="mt-0">Dr. Simon Gabay</h5>
         <p class="text-justify">Après des études à Paris IV-Sorbonne et St Andrews, Simon Gabay part écrire sa thèse de doctorat
             en philologie latine à l'université d'Amsterdam (UvA) sur l'histoire de l'acteur au Moyen Âge.<br/>
             Pour son post-doctorat, il oriente ses recherches en philologie computationnelle dans le cadre d'un projet
             FNS sur les manuscrits de Madame de Sévigné à l'université de Neuchâtel, où il enseigne les humanités numériques.<br/>
             En 2020, il rejoint l'université de Genève auprès de la chaire de Béatrice Joyeux-Prunel comme Maître-assistant, où il dirige deux projets:
          <ul>
            <li>E-ditiones: corpus et outils pour l'étude du français classique.</li>
            <li>Katabase: base de données des manuscrits en circulation sur le marché privé.</li>
        </ul>
          Ses principaux domaines de recherche sont la philologie française moderne, l'histoire de la philologie,
          la littérature classique, le traitement automatique des langues, la reconnaissance optique de caractères.<br/>
          Ses publications accessibles gratuitement en ligne sont disponibles sur
          <a href="https://cv.archives-ouvertes.fr/simon-gabay" target="_blank">HAL</a>.<hr/></p>
      </div>
   </div>
   <div class="media container">
      <div class="media-body">
         <h5 class="mt-0">Lucie Rondeau du Noyer</h5>
         <p class="text-justify">Ancienne élève de l’École normale supérieure et agrégée d’histoire, diplômée de l’université Paris 1 Panthéon-Sorbonne
             (histoire économique) et de l’École nationale des chartes (technologies numériques appliquées à l’histoire).
             Elle est actuellement professeure d’histoire-géographie au College Aimé et Eugénie Cotton (Le Blanc-Mesnil).
             Ses travaux portent sur l’évolution des régimes douaniers français à la fin de l’époque moderne et sur
             l’émergence d’un marché parisien de l’autographe au xixe siècle.
          <hr/>
          </p>
      </div>
       <img src="../static/images/people/lucie_rondeau.png" class="align-self-start mr-3" alt="Lucie Rondeau du Noyer">
   </div>
    <div class="media container">
      <img src="../static/images/people/ljudmila_petkovic.jpg" class="align-self-start w-25 p-3" alt="Ljudmila Petkovic">
      <div class="media-body">
         <h5 class="mt-0">Ljudmila Petkovic</h5>
         <p class="text-justify">Ljudmila Petkovic est titulaire de deux masters de l'Université de Belgrade : <i>Langue,
             littérature et culture grecque, et Informatique pour les sciences humaines</i>. Actuellement, elle achève son
             <i>Certificat de spécialisation en linguistique</i> (Département de linguistique à l’Université de Genève), et,
             parallèlement, au sein du projet <i>Katabase</i>, elle travaille sur la reconnaissance optique de caractères et
             l'encodage (au format TEI-XML) de catalogues de vente de manuscrits français du XIXe siècle.</p>
          <p class="text-justify font-italic">
              Ljudmila Petkovic holds two masters from the University of Belgrade: one in the <i>Greek Language,
              Literature and Culture</i>, and the second in <i>Social Sciences and Computing</i>. Currently, she is completing
              her <i>Certificate of specialisation in Linguistics</i> (Department of Linguistics at the University of Geneva),
              and, at the same time, within the <i>Katabase</i> project, she is working on optical character recognition and
              the encoding of the French 19th c. manuscript sales catalogues in the TEI-XML format.
          </p>
      </div>
   </div>
</div>
{% endblock %}