{% extends "layout.html" %}
{% block title %} About us {% endblock %}
{% block corps %}
<div class="container">
    <h1>The theam</h1>
    <br/>
   <div class="media container">
      <img src="../static/images/logos/fns.png" class="align-self-start mr-3" alt="...">
      <div class="media-body">
         <h5 class="mt-0">Nom prénom</h5>
         <p class="lead">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
             Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
             fringilla. Donec lacinia congue felis in faucibus.</p>
         <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
             magnis dis parturient montes, nascetur ridiculus mus.
             <hr/>
         </p>
      </div>
   </div>
   <div class="media container">
      <div class="media-body">
         <h5 class="mt-0">Nom prénom</h5>
         <p class="lead"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
             Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
             fringilla. Donec lacinia congue felis in faucibus.</p>
         <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
             magnis dis parturient montes, nascetur ridiculus mus.
          <hr/>
          </p>
      </div>
      <img src="../static/images/logos/unige.jpg" class="align-self-start mr-3" alt="...">
   </div>
</div>
{% endblock %}