{% extends "layout.html" %}
{% block title %} Search {% endblock %}
{% block corps %}
<div class="container">
   <!-- This part is about the display of results. -->
   {% if results %}
   <!-- If there are results, a smaller search form is displayed. -->
   <form action="{{ url_for('search') }}" class="form-inline right">
      <div class="row">
         <div class="col">
            <input type="text" name="author" class="form-control" placeholder="Sévigné" required
               aria-describedby="HelpAuthor1">
            <small id="HelpAuthor1" class="form-text text-muted">Required field (only one term).</small>
         </div>
         <div class="col">
            <input type="text" name="date" class="form-control" placeholder="1660-1680"
               aria-describedby="HelpDate1">
            <small id="Helpdate1" class="form-text text-muted">Optional field (YYYY-YYYY).</small>
         </div>
         <div class="col">
            <button type="submit" class="btn btn-outline-danger">Search</button>
         </div>
      </div>
   </form>
   <br/>
   <br/>
   <!-- Let's display the results of the search ! -->
      <div class="container">
         <!-- If there is no result... -->
         {% if results.result == 0 %}
         <h1>No result</h1>
         <p class="lead">Sorry, no matching results were found for "{{ author }}".</p>
         <p>Do not hesitate to try again with an other search !</p>
         <!-- If there are results -->
         {% elif results.result > 0 %}
            <!-- First, display a titel -->
            {% if author and date %}
            <h2>Results for "{{author}}, {{date}}"</h2>
            {% elif author %}
            <h2>Results for "{{author}}"</h2>
            {% endif %}
         <!-- Display the number of matching entries and reconciliated entries-->
            <p class="lead">{{results.result}} entries match your search and
            {% if results.groups|length == 0 %}
            there is no manuscript sold multiple times.
            </p>
            {% elif results.groups|length == 1 %}
            1 manuscript is sold multiple times.</p>
            {% else %}
            {{results.groups|length}} manuscripts are sold multiple times.</p>
            {% endif %}
         <!-- Display, with nav, the two categories of results-->
         <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="pills-sell-tab" data-toggle="pill" href="#pills-sell" 
              role="tab" aria-controls="pills-sell" aria-selected="true">View by sale</a>
            </li>
            <li class="nav-item" role="presentation">
               <a class="nav-link" id="pills-manuscript-tab" data-toggle="pill" href="#pills-manuscript" 
               role="tab" aria-controls="pills-manuscript" aria-selected="false">View by manuscript</a>
            </li>
         </ul>
         <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-sell" role="tabpanel" aria-labelledby="nav-sell-tab">
            <!--This part displays the results sale by sale -->
               <div class="results">
                  <p>Click on an author's name to see the entry in its context.</p>
                  {results.filtered_data}
                  {% for key, content in results.filtered_data.items() %}
                  <p>
                     {% if content.text.trait %}
                     <b>
                     <a href="{{ url_for('view', id=content.cat_id) }}#{{ content.text.id }}">{{ content.text.author }}</a>
                     </b> - {{ content.text.trait }}
                     {% else %}
                     <b>
                     <a href="{{ url_for('view', id=content.cat_id) }}#{{ content.text.id }}">{{ content.text.author }}</a>
                     </b>
                     {% endif %}
                  </p>
                     {% for desc in content.text.desc %}
                     <!-- If there are multiple descs, each desc is only displayed once.-->
                        {% if desc.id == key %}
                        <p>- {{ desc.text }}</p>
                        {% endif %}
                     {% endfor %}
                  <p class="font-italic">{{ content.text.note }}</p>
                  <p class="text-right">{{ content.text.price }}</p>
                  <hr/>
                  {% endfor %}
               </div>
            </div>
            <div class="tab-pane fade" id="pills-manuscript" role="tabpanel" aria-labelledby="nav-manuscript-tab">
               <!--This part displays the results manuscript by manuscript -->
               {% if results.groups|length > 0 %}
               <div>
                  <h1 id="reconciliation">Reconciliation of entries</h1>
                  
               {% endif %}
               </div>
            </div>
         </div>
         {% endif %}
      </div>
   {% else %}
   <!-- This part is displayed first, before the search (and the results). -->
   <h1>Search</h1>
   <p class="lead">On this page, you can search a specific author in all the catalogues.
      You can try a more precise search by specifying the date.
   </p>
   <br/>
   <br/>
   <form action="{{ url_for('search') }}">
      <div class="row">
         <div class="col">
            <input type="text" name="author" class="form-control" placeholder="Sévigné" required
               aria-describedby="HelpAuthor">
            <small id="HelpAuthor" class="form-text text-muted">This first field is required.
            A single term (Sévigné or Louis-Philippe) is accepted.</small>
         </div>
         <div class="col">
            <input type="text" name="date" class="form-control" placeholder="1660-1680"
               aria-describedby="HelpDate">
            <small id="Helpdate" class="form-text text-muted">This second field is optional.
            Please use this format YYYY-YYYY for your search.</small>
         </div>
         <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Search</button>
      </div>
   </form>
   {% endif %}
</div>
{% endblock %}