{% extends "layout.html" %}
{% block corps %}
<div class="container">
<ul>
    <li>Title : {{ metadata.title}}</li>
    <li>Num : {{ metadata.num }}</li>
    <li>Editor : {{ metadata.editor }}</li>
    <li>Publisher : {{ metadata.publisher }}</li>
    <li>PubPlace : {{ metadata.pubPlace }}</li>
    <li>Date : {{ metadata.date }}</li>
    <li>Encoder : {{ metadata.encoder }}</li>
</ul>

<ul>
    {% for entry in content %}
    <li>Id de l'entrée : {{ entry.id }}</li>
    <li>Numéro de l'entée : {{ entry.num }}</li>
    <li>Auteur de l'entrée : {{ entry.author }}</li>
    <li>Bio de l'auteur : {{ entry.trait }}</li>
    <li>Prix de l'entrée : {{ entry.price }}</li>
    <li>Note de l'entrée : {{ entry.note }}</li>
    <ul>
        {% for desc in entry.desc %}
        <li>Id du desc : {{ desc.id }}</li>
        <li>Texte du desc : {{ desc.text }}</li>
        {% endfor %}
    </ul>
    <br/>
    {% endfor %}
</ul>
</div>
{% endblock %}