{% extends "layout.html" %}
{% block title %} View {{ metadata.title }} {% endblock %}
{% block corps %}

<div class="container">
    <div class="text-center">

        <h2>
            {% if metadata.num %}
                {{ metadata.title}}, n° {{ metadata.num }}
            {% else %}
                {{ metadata.title}}
            {% endif %}
        </h2>

        <br/>

        <h5>

    {% if metadata.publisher %}

        {% if metadata.pubPlace and metadata.date %}

            Published by {{ metadata.publisher }} in {{ metadata.pubPlace }} on {{ metadata.date }}.

        {% elif metadata.pubPlace %}

            Published by {{ metadata.publisher }} in {{ metadata.pubPlace }}.

        {% elif metadata.date %}

            Published by {{ metadata.publisher }} on {{ metadata.date }}.

        {% else %}

            Published by {{ metadata.publisher }}.

        {% endif %}

    {% endif %}
        </h5>
    <p>

    {% if metadata.encoder %}

        Catalogue encoded by {{ metadata.encoder }}.

    {% endif %}
    </p>
<br/><br/>

    </div>

    <div class="container">

        {% for entry in content %}
        <div>

            <p id="{{ entry.id}}">{{ entry.num }}.
                {% if entry.trait %}
                <b>{{ entry.author }}</b> - {{ entry.trait }}
                {% else %}
                <b>{{ entry.author }}</b>
                {% endif %}
            </p>
                {% for desc in entry.desc %}
                    <p>- {{ desc.text }}</p>
                {% endfor %}
            <p class="font-italic">{{ entry.note }}</p>
            <p class="text-right">{{ entry.price }}</p>
            <hr/>
        </div>

        {% endfor %}

    </div>
</div>
{% endblock %}