<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
   <!-- Footer Links -->
   <div>
      <ul class="list-unstyled list-inline text-center">
         <li class="list-inline-item">
            <a class="mx-5" href="https://www.unige.ch" target="_blank">
            <img src="/static/images/logos/unige.jpg" alt="University of Geneva" height="50px" width="140px">
            </a>
         </li>
         <li class="list-inline-item">
            <a class="mx-5" href="https://www.unine.ch" target="_blank">
            <img src="/static/images/logos/unine.jpg" alt="University of Neuchâtel" height="50px" width="140px">
            </a>
         </li>
         <li class="list-inline-item">
            <a class="mx-5" href="https://www.inria.fr" target="_blank">
            <img src="/static/images/logos/inria.png" alt="French Institute for Research in Computer Science and Automation"
               height="50px" width="140px">
            </a>
         </li>
         <li class="list-inline-item">
            <a class="mx-5" href="http://www.snf.ch" target="_blank">
            <img src="/static/images/logos/fns.png" alt="Swiss National Science Foundation" height="50px" width="140px">
            </a>
         </li>
         <li class="list-inline-item">
            <a class="mx-5" href="http://www.snf.ch" target="_blank">
            <img src="/static/images/logos/humanum.png" alt="Huma-Num" height="50px" width="140px">
            </a>
         </li>
      </ul>
   </div>
   <hr>
    <div class="text-center">
        <p>Find us on <a class="footer" href="https://github.com/katabase">GitHub</a>,
      <a class="footer" href="https://editiones.hypotheses.org/">Hypotheses</a>
      and <a class="footer" href="https://twitter.com/e_ditiones">Twitter</a>.
   </p>
      <small>2020 Katabase</small>
    </div>
</footer>